services:
  blogengine:
    image: ghcr.io/while-maybe/blogengine:latest
    container_name: blogengine
    restart: unless-stopped
    environment:
      - APP_NAME=${APP_NAME:-"give me a name :("}
      - APP_ENV=prod
      - APP_SOURCES_DIR=${APP_SOURCES_DIR:-./sources}

      - HTTP_PORT=${HTTP_PORT:-3000}
      
      - LIMITER_RPS=${LIMITER_RPS:-20}
      - LIMITER_BURST=${LIMITER_BURST:-50}
      
      - PROXY_TRUSTED=${PROXY_TRUSTED:-true}

      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-jaeger:4318}
      - ENABLE_TELEMETRY=${ENABLE_TELEMETRY:-true}

    volumes:
      - "${APP_SOURCES_DIR:-./sources}:/app/sources"
    networks:
      - blogengine_network


  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    depends_on:
      - blogengine
    networks:
      - blogengine_network

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    restart: unless-stopped
    profiles: ["obs"]
    networks:
      - blogengine_network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    profiles: ["obs"]
    volumes:
      - prometheus_data:/prometheus
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - blogengine_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    profiles: ["obs"]
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/blogengine.json

      - GF_AUTH_ANONYMOUS_HIDE_VERSION=true  # version number in footer
      - GF_EXPLORE_ENABLED=false
      - GF_ALERTING_ENABLED=false
      - GF_UNIFIED_ALERTING_ENABLED=false
      - GF_NEWS_NEWS_FEED_ENABLED=false
      - GF_HELP_ENABLED=false

    volumes:
      - grafana_data:/var/lib/grafana
      - ./observability/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./observability/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
    depends_on:
      - prometheus
    networks:
      - blogengine_network

  watchtower:
    image: nickfedor/watchtower:latest
    restart: unless-stopped
    environment:
      - WATCHTOWER_POLL_INTERVAL=300
      - WATCHTOWER_ROLLING_RESTART=true
      - WATCHTOWER_CLEANUP=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  prometheus_data:
  grafana_data:

networks:
  blogengine_network:
    name: blogengine_network
