services:
  blogengine:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blogengine
    # quick local access
    ports:
      - "${HTTP_PORT:-3000}:${HTTP_PORT:-3000}"
    environment:
      - APP_NAME=${APP_NAME:-"give me a name :("}
      - APP_ENV=dev
      - APP_SOURCES_DIR=${APP_SOURCES_DIR:-/app/sources}
      - INVITE_CODE=${INVITE_CODE}

      - SESSION_SECRET=${SESSION_SECRET}

      - DB_PATH=${DB_PATH:-/app/data/blogengine.db}
      - DB_MIGRATIONS_PATH=${DB_MIGRATIONS_PATH:-/app/migrations}

      - HTTP_PORT=${HTTP_PORT:-3000}
      - HTTP_READ_TIMEOUT=${HTTP_READ_TIMEOUT}
      - HTTP_WRITE_TIMEOUT=${HTTP_WRITE_TIMEOUT}
      - HTTP_IDLE_TIMEOUT=${HTTP_IDLE_TIMEOUT}
      - HTTP_SHUTDOWN_DELAY=${HTTP_SHUTDOWN_DELAY}

      - LIMITER_RPS=${LIMITER_RPS}
      - LIMITER_BURST=${LIMITER_BURST}
      
      - PROXY_TRUSTED=${PROXY_TRUSTED}

      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-lgtm:4318}
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - ENABLE_TELEMETRY=${ENABLE_TELEMETRY:-true}
    # to add your own .md files on your host and see them update
    # volumes:
    #   - ./sources:/root/sources
    volumes:
      - "${APP_SOURCES_DIR:-./sources}:/app/sources"
      - blog_data:/app/data
    networks:
      - blogengine_dev_network

  lgtm:
    image: grafana/otel-lgtm:latest
    container_name: lgtm
    profiles: ["obs"]
    ports:
      - "3001:3000"
      - "4318:4318"
      # - "4317:4317" # OTLP gRPC
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/blogengine.json
      - OTEL_METRIC_EXPORT_INTERVAL=5000
      - OTEL_LGT_DEMO_ENABLED=false
      - HELP=false
    volumes:
      # Mount your custom dashboards
      - ./observability/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./observability/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro

      # ONE volume for ALL data
      - lgtm_data:/data
    networks:
      - blogengine_dev_network
  # Observability Stack (Profile: obs)

volumes:
  lgtm_data:
  blog_data:

networks:
  blogengine_dev_network:
    driver: bridge
    name: blogengine_dev_network
