services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blogengine
    restart: unless-stopped
    # good idea for quick local access
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - BLOG_TITLE=Strange Coding Blog (Docker)
    
    # to add your own .md files on your host and see them update
    # volumes:
    #   - ./sources:/root/sources
