services:
  blogengine:
    image: ghcr.io/while-maybe/blogengine:latest
    container_name: blogengine
    restart: unless-stopped
    environment:
      - APP_NAME=${APP_NAME:-"give me a name :("}
      - APP_ENV=prod
      - APP_SOURCES_DIR=${APP_SOURCES_DIR:-/app/sources}
      - INVITE_CODE=${INVITE_CODE}

      - SESSION_SECRET=${SESSION_SECRET}

      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}

      - DB_PATH=${DB_PATH:-/app/data/blogengine.db}
      - DB_MIGRATIONS_PATH=${DB_MIGRATIONS_PATH:-/app/migrations}

      - HTTP_PORT=${HTTP_PORT:-3000}
      
      - LIMITER_RPS=${LIMITER_RPS:-20}
      - LIMITER_BURST=${LIMITER_BURST:-50}
      
      - PROXY_TRUSTED=${PROXY_TRUSTED:-true}

      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-lgtm:4318}
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - ENABLE_TELEMETRY=${ENABLE_TELEMETRY:-true}

    volumes:
      - "${APP_SOURCES_DIR:-./sources}:/app/sources"
      - blog_data:/app/data
    networks:
      - blogengine_network

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    depends_on:
      - blogengine
    networks:
      - blogengine_network

  garage:
    image: dxflrs/garage:v2.2.0
    container_name: garage
    ports:
      - "3900:3900"
      - "3901:3901"
      - "3902:3902"
      - "3903:3903"
      - "3904:3904" #k2v
    environment:
      - GARAGE_RPC_SECRET=${GARAGE_RPC_SECRET}
      - GARAGE_ADMIN_TOKEN=${GARAGE_ADMIN_TOKEN}
      - GARAGE_ADMIN_METRICS_TOKEN=${GARAGE_METRICS_TOKEN}
    volumes:
      - ./infra/garage/garage.toml:/etc/garage.toml
      - garage_meta:/var/lib/garage/meta
      - garage_data:/var/lib/garage/data
    networks:
      - blogengine_network

  lgtm:
    image: grafana/otel-lgtm:latest
    container_name: lgtm
    profiles: ["obs"]
    ports:
      - "3001:3000"
      - "4318:4318"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/blogengine.json

      - GF_AUTH_ANONYMOUS_HIDE_VERSION=true  # version number in footer
      - GF_EXPLORE_ENABLED=false
      - GF_ALERTING_ENABLED=false
      - GF_UNIFIED_ALERTING_ENABLED=false
      - GF_NEWS_NEWS_FEED_ENABLED=false
      - GF_HELP_ENABLED=false

    volumes:
      - ./observability/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./observability/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
    networks:
      - blogengine_network

  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    environment:
      - WATCHTOWER_POLL_INTERVAL=300
      - WATCHTOWER_CLEANUP=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  blog_data:
  garage_meta:
  garage_data:

networks:
  blogengine_network:
    name: blogengine_network
