services:
  blogengine:
    image: ghcr.io/while-maybe/blogengine:latest
    container_name: blogengine
    restart: unless-stopped
    environment:
      - APP_NAME=${APP_NAME:-"give me a name :("}
      - APP_ENV=prod
      - APP_SOURCES_DIR=${APP_SOURCES_DIR:-./sources}
      - HTTP_PORT=${HTTP_PORT:-3000}
      - LIMITER_RPS=${LIMITER_RPS:-20}
      - LIMITER_BURST=${LIMITER_BURST:-50}
      - PROXY_TRUSTED=${PROXY_TRUSTED:-true}
    networks:
      - blogengine_network


  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    depends_on:
      - blogengine
    networks:
      - blogengine_network


  updater:
    image: docker:cli
    container_name: gitops_updater
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/app
    working_dir: /app
    environment:
      - APP_NAME=${APP_NAME:-"give me a name :("}
      - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}

    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        apk add --no-cache git
        git config --global --add safe.directory /app

        TARGET_IMAGE="ghcr.io/while-maybe/blogengine:latest"
        
        echo "GitOps Updater starting for: $$APP_NAME"

        while true; do
          NEEDS_UPDATE=0
          
          # check git (config)
          git fetch origin 2>&1
          LOCAL=$$(git rev-parse HEAD 2>/dev/null || echo "")
          REMOTE=$$(git rev-parse @{u} 2>/dev/null || echo "")
          
          if [ -n "$$LOCAL" ] && [ -n "$$REMOTE" ] && [ "$$LOCAL" != "$$REMOTE" ]; then
            echo "Configuration changes detected. Pulling..."
            git pull
            NEEDS_UPDATE=1
          fi


          # grab the sha image ID before pull
          OLD_ID=$$(docker inspect --format='{{.Id}}' $$TARGET_IMAGE 2>/dev/null || echo "none")
          docker compose -f docker-compose.production.yml pull --quiet blogengine tunnel
          NEW_ID=$$(docker inspect --format='{{.Id}}' $$TARGET_IMAGE 2>/dev/null || echo "none")


          # compare the IDs
          if [ "$$OLD_ID" != "$$NEW_ID" ]; then
             echo "[$$(date)] New image detected (SHA changed)."
             NEEDS_UPDATE=1
          fi


          # apply changes only if needed
          if [ "$$NEEDS_UPDATE" -eq 1 ]; then
             
             echo "[$$(date)] Applying updates for $$APP_NAME..."

             docker compose -f docker-compose.production.yml up -d --remove-orphans blogengine tunnel

             echo "[$$(date)] Update complete."
          else
             echo "System up to date."
          fi


          sleep 300
        done
    
    networks:
      - blogengine_network


networks:
  blogengine_network:
    name: blogengine_network
