services:
  blog:
    # Use the image built by GitHub Actions
    image: ghcr.io/while-maybe/blogengine:latest
    container_name: blogengine
    restart: unless-stopped
    environment:
      - APP_NAME=${APP_NAME}
      - APP_ENV=prod
      - APP_SOURCES_DIR=${APP_SOURCES_DIR}

      - HTTP_PORT=${HTTP_PORT}
      - HTTP_READ_TIMEOUT=${HTTP_READ_TIMEOUT}
      - HTTP_WRITE_TIMEOUT=${HTTP_WRITE_TIMEOUT}
      - HTTP_IDLE_TIMEOUT=${HTTP_IDLE_TIMEOUT}
      - HTTP_SHUTDOWN_DELAY=${HTTP_SHUTDOWN_DELAY}

      - LIMITER_RPS=${LIMITER_RPS}
      - LIMITER_BURST=${LIMITER_BURST}
      
      - PROXY_TRUSTED=${PROXY_TRUSTED}
    # No ports exposed (using Tunnel)

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    depends_on:
      - blog

  updater:
    image: docker:cli
    container_name: gitops_updater
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/app
    working_dir: /app
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        apk add --no-cache git
        echo "Starting Unified Updater..."
        
        while true; do
          # 1. Update Code/Config from Git
          git fetch origin
          LOCAL=$(git rev-parse HEAD)
          REMOTE=$(git rev-parse @{u})
          
          if [ "$LOCAL" != "$REMOTE" ]; then
            echo "Git configuration change detected. Pulling..."
            git pull
          fi
          
          # 2. Update Infrastructure
          # -f: Use production file
          # --quiet-pull: Don't spam logs downloading layers
          # --pull always: Check GHCR for new Go binary versions
          # --remove-orphans: Kill containers that were deleted from YAML (like Watchtower)
          
          docker compose -f docker-compose.production.yml up -d --quiet-pull --pull always --remove-orphans
          
          # Check again in 5 minutes
          sleep 300
        done
