apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://localhost:9090
    access: proxy
    isDefault: true
    editable: false
    
  - name: Tempo
    type: tempo
    url: http://localhost:3200
    access: proxy
    editable: false
    jsonData:
      httpMethod: GET