package components

templ headerTemplate(title string) {
  <header class="top-banner" id="main-header">
    <div class="banner-content">
        <a href="/" class="brand">{title}</a>
    </div>
  </header>
}