package components

import "time"

templ footerTemplate(c CommonData) {
    {{year := time.Now().Year()}}

    <footer class="footer-banner">
        <div class="footer-content">
            {c.Title} ©{year}
        </div>
    </footer>
}