package components

import "time"

templ footerTemplate(title string) {
    {{year := time.Now().Year()}}

    <footer class="footer-banner">
        <div class="footer-content">
            {title} - Copyright {year}
        </div>
    </footer>
}