package components

templ Separator(label string) {
    <div class="flex items-center my-6 w-full">
        <hr class="grow border-t border-brand-edge opacity-80"></hr>
        
        <span class="mx-6 font-serif text-xl text-text-muted italic tracking-widest">
            { label }
        </span>
        
        <hr class="grow border-t border-brand-edge opacity-80"></hr>
    </div>
}