name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality-check:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
        cache: true

    - name: Install Tools
      run: |
        go install github.com/a-h/templ/cmd/templ@latest
        go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Generate Code
      run: make generate

    - name: Lint & Format
      run: |
        go vet ./...
        staticcheck ./...
        # Fail if code isn't formatted
        test -z $(gofmt -l .)

    - name: Run Tests
      run: go test -race -v ./...
